
.m-top{
  padding-top:50px ;
}

.scroll{
  overflow-x: auto; white-space: nowrap;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0px;
}

.action-buttons ion-button {
  display: inline-flex;
  margin: 0px;
  margin-top: -10px;
}

.pill-green{
  background-color: green;
  color: aliceblue;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
}

.pill-red{
  background-color: red;
  color: aliceblue;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
}

.not-product{
  text-align: center;
  color: orangered;
}

.add-btn{
    background-color: blue;
    border-radius: 10px;
    color: aliceblue !important;
    padding: 0px 0px;
    font-size: 12px;
}